$timing-short: 0.13s;
$timing-large: 0.33s;

$timing-regular: cubic-bezier(0.4, 0.0, 0.2, 1);
$timing-bounce: cubic-bezier(0.25, 1.43, 0.35, 1.69);

$timing-short-regular: $timing-short $timing-regular;
$timing-large-regular: $timing-large $timing-regular;

$timing-short-bounce: $timing-short $timing-bounce;
$timing-large-bounce: $timing-large $timing-bounce;