@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500|Source+Sans+Pro:200,400,700');

$font-family-primary: 'Source Sans Pro', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-secondary: 'Quicksand', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$default-font-color: $colors-black;